@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600|Raleway:400,600|Poppins');
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
body {
    min-width: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
i {
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #f4f4f4 inset !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
textarea {
    overflow:auto;
    resize:none;
}
::-webkit-input-placeholder {
    color: #333333;
}
::-moz-placeholder {
    color: #333333;
}
:-ms-input-placeholder {
    color: #333333;
}
:-moz-placeholder {
    color: #333333;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}
:focus {
    outline: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    text-decoration: none!important;
}
.no-padding {
    padding: 0;
}
h1, h2, h3, h4 {
	font-weight: bold;
	font-family: 'Raleway', serif;
}


/**/
.header-01 {
	background-color: #58595b;
	color: #ffffff;
	padding: 0;
	font-size: 13px;
	height: 40px;
}

.header-01 .nav-item {float: none;text-align: right;display: inline-block;}
.header-01 .nav-link {
	color: #ffffff;
	text-align: right;
	padding: 0.5rem 0 0.5rem 1rem;
}
.header-01 i.icon-cms {
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(../img/icon-header-cms.png);
	margin-right: 5px;
}
.header-01 i.icon-profile {
	float: left;
	width: 20px;
	height: 20px;
	background-image: url(../img/icon-header-profile.png);
	margin-right: 5px;
}
.header-01 .b {
	text-align: right;
}
/**/
.header-02 {
	padding: 10px 0;
	background-color: #ffffff;
}
.header-02 .navbar-brand {
	background-image: url(../img/logo-01.png);
	height: 60px;
	width: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0 10px;
}
.header-02 .nav-link {
	font-weight: bold;
	font-family: 'Raleway', serif;
	font-size: 18px;
	color: #111111;
	transition: 0.3s ease all;
}
.header-02 .nav-link.selected,
.header-02 .nav-link.selected:hover {
	background-color: #39b54a;
	color: #ffffff;
}
.header-02 .nav-link:hover {
	color: #39b54a;
}
/**/
.news-list {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #f4f4f4;
}
.news-list .box {
	padding: 20px;
	background-color: #ffffff;
	border-bottom: 20px solid #f4f4f4;
	height: 100%;
}
.news-list .box h3 {
	margin: 0 0 5px 0;
	line-height: 1;
	font-size: inherit;
}

.news-list .box h3.title a {
	color: #000000;
	font-weight: bold;
	font-family: 'Poppins';
	font-size: 20px;
	line-height: 1.25;
}

.news-list .box h3.title a:hover {
	text-decoration: none;
}
.news-list .box .subtitle {
	color: #000000;
	margin: 0 0 5px 0;
}
.news-list .box .summary {
	color: #000000;
	font-size: 14px;
	line-height: 22px;
	max-height: 44px;
	overflow: hidden;
	margin: 0 0 10px 0;
	display: none;
}
.news-list .box .date {
	color: #aaaaaa;
	font-family: 'Poppins';
	font-size: 14px;
	margin: 0;
}
.news-list .box .link .btn {
	color: #39b54a;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0;
}
.news-list .box .link .btn i {
	width: 20px;
	height: 22px;
	margin-left: 4px;
	display: inline-block;
	float: right;
	background-image: url(../img/icon-right-01.png);
}
.news-list figure {
	height: 150px;
	position: relative;
}
.news-list figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: relative;
}
.news-list figure:before {
	content:"";
	display: block;
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
	bottom: 5px;
	border: 1px solid #ffffff;
	margin: auto;
	z-index: 1;
}
/**/
a.back-to-top {
    background-color: #39b54a;
    color: #ffffff;
    line-height: 30px;
    height: 30px;
    width: 60px;
    display: block;
    text-align: center;
    margin: auto;
}
/**/
footer {
	padding: 20px 0;
	color: #666666;
}
footer a {
	color: #666666;
	font-weight: bold;
}
footer .social {
	text-align: right;
}
footer .social i {
	width: 22px;
	height: 22px;
	display: inline-block;
	margin: 0 2px;
}
footer .social i.icon-ig {
	background-image: url(../img/icon-social-instagram.png);
}
footer .social i.icon-sh {
	background-image: url(../img/icon-social-share.png);
}
footer .social i.icon-tw {
	background-image: url(../img/icon-social-twitter.png);
}
footer .social i.icon-pi {
	background-image: url(../img/icon-social-pinterest.png);
}

/**/

.news-item {
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
.news-item .item-date {margin: 0 0 10px 0;color: #888888;}
.news-item h2.item-title {
	font-family: 'Poppins';
	font-size: 28px;
	font-weight: bold;
	margin: 0 0 10px 0;
}
.news-item .item-subtitle {
	font-weight: bold;
	font-size: 18px;
	font-family: 'Raleway';
	margin: 0 0 8px 0;
	color: #39b54a;
	line-height: 1.2;
}
.news-item .item-author {
	color: #27aae1;
	font-family: 'Poppins';
	font-size: 14px;
	margin: 0 0 10px 0;
}
.news-item .item-author:before {
	display: inline-block;
	content:"";
	width: 10px;
	height: 1px;
	background-color: #27aae1;
	position: relative;
	top:-5px;
}
.news-item figure {
	height: auto;
}
.news-item .item-content {
	font-size: 14px;
}

/* Responsive */

.navbar-toggler {
	background-color: #f4f4f4;
	margin: 0 10px;
}
.navbar-toggler-icon {
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
	width: 16px;
	height: 14px;
	position: relative;
	position: relative;
	top: -2px;
}
.navbar-toggler-icon:before {
	content:"";
	display: block;
	width: 16px;
	height: 2px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	z-index: 1;
	background-color: #000000;
}

/**/

.news-list .box.strong {
	padding-top: 100px;
	position: relative;
}
.news-list .box.strong figure {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	height: auto;
}
.news-list .box.strong figure img {
	object-position: top center;
}
.news-list .box.strong figure:after {
	content:"";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 60%);
}
.news-list .box.strong * {
	color: #ffffff;
}
.news-list .box.strong h3.title a {
	color: #ffffff;
	font-size: 32px;
	line-height: 1.1;
}
.news-list .box.strong .link .btn {
	padding: 5px 10px;
	background-color: #FFC107;
	color: #000000;
	border-radius: 0;
	-webkit-border-radius: 0;
	letter-spacing: 1px;
}
.news-list .box.strong .link .btn i {
	display: none;
}
/**/

.news-list.side {
	padding-top: 0;
	padding-bottom: 0;
	background-color: transparent;
}
.news-list.side .box {
	height: auto;
}
.news-list.side .box h3.title,
.news-list.side .box h3.title *  {
	    line-height: 1.3;
    font-size: 18px;
}


/**/

@media (max-width: 768px) {
.header-01 {
	height: auto;
}
.sm-hidden {
	display: none;
}
.header-02 .nav-link {
	margin: 0;
	padding-left: 10px;
}
.navbar-collapse:not(.show) {
	height: 0;
}


.news-list .box.strong h3.title a {
	font-size: 24px;
    line-height: 1;
}
.news-list .box.strong .subtitle,
.news-list .box.strong .link {
	display: none;
}
.news-list .box h3.title a {
	font-size: 18px;
}

}